<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<% @data.each do |movie| %>
   <label>title: </label><%= movie['title'] %>
   <br>
   <label>Description: </label><%= movie['description'] %>
    <br>
   <label>Release year: </label><%= movie['year'] %>
   <br>
   <img class="id_img" src="/<%=movie['image']%>" style="max-width: 200px;">
   <br>
    <label>geanera:
    <% @joined_data.each do |geanera| %>
        <%= geanera['geanera_name'] %>
    <% end %>
    </label>
    <br>
    <label>Cast:
    <% @cast_join.each do |cast| %>
        <%= cast['name'] %>,
    <% end %>
    </label>
    <br>
    <% if @username %>
    <a href="/movies/<%= movie['id'] %>/edit" class="button"><button>edit</button></a>
    <form action='/movies/<%= movie['id'] %>/delete' method='post'>
        <button type="submit">delete</button>
    </form>
        <% end %>
<% end %>

</body>
</html>




