
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <h1>Cinematrix</h1>
    <ul>
      <li>movies</li>
      <li>log in</li>
      <% if !session[:user_id].nil? %>
          <li>User:<%=@username%></li>
      <% end %>
    </ul>
  </header>
<div class="container">
<% @data.each do |movie| %>
  <a href="/movies/<%= movie['id'] %>">
    <div class="card">
      <div class="image"><img class="image" src="<%= movie['image'] %>"></div>
      <div class="title"><%= movie['title'] %></div>
      <div class="geanera"><%= movie['geanera'] %></div>
    </div>
  </a>
<% end %> 
<a href="/movies/new" class="button"><button>New movie</button></a>
</div>

</body>
</html>