
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <h1>Cinematrix</h1>
    <ul>
      <% if @username %>
        <form action="/logout" method="post">
          <li><button type="submit">Logout</button></li>
        </form>
      <% else %>
        <li><button><a href="/login">login</a></button></li>
        <li><button><a href="/register">register</a></button></li>
      <% end %>
      <% if @username %>
      <li>user: <%= @username%></li>
      <% end %>

    </ul>

  </header>
<div class="container">
<% @data.each do |movie| %>
  <a href="/movies/<%= movie['id'] %>">
    <div class="card">
      <div class="image"><img class="image" src="<%= movie['image'] %>"></div>
      <div class="title"><%= movie['title'] %></div>
      <div class="geanera"><%= movie['geanera'] %></div>
    </div>
  </a>
<% end %> 
<% if @username %>
<a href="/movies/new" class="button"><button>New movie</button></a>
<% end %>
</div>

</body>
</html>